@import url("./css/satoshi.css");
@font-face {
  font-family: "Satoshi";
  src: url("../font/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Bold.ttf");
}
@font-face {
  font-family: "Satoshi-light";
  src: url("../font/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Light.ttf");
}
* {
  padding: 0rem;
  margin: 0;
  scroll-behavior: smooth;
  transition: 0.3s;
}
body {
  background: rgba(225, 205, 181, 1);
}
header {
  display: flex;
  justify-content: space-between;
}
.header-image {
  width: 600px;
  left: 1644px;
}
.header-text {
  padding: 1rem 2rem;
  font-family: "Satoshi";
  font-size: 30px;
  font-weight: 700;
  line-height: 24px;
  animation: movesinleft 1s ease-in;
}
.section--text {
  font-family: "Satoshi";
  font-size: 136px;
  font-weight: 700;
  line-height: 134px;
  letter-spacing: -0.04em;
  text-align: left;
  width: 50%;
  margin-top: -13rem;
  padding: 0rem 2rem;
  animation: movesinleft 1s ease-in;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  animation: movesinbottom 1s ease-in;
}
ul {
  display: flex;
}
li {
  padding-left: 0.5rem;
  list-style: none;
  font-family: "Satoshi";
  font-size: 20px;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
}
a {
  text-decoration: none;
  cursor: pointer;
  color: rgba(0, 0, 0, 1);
}
.nav-text {
  font-family: "Satoshi-light";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
}
.about,
.experience,
.Project,
footer {
  padding: 2rem 2rem;
}
.about-number {
  font-family: "Satoshi";
  font-size: 18px;
  font-weight: 700;
  margin-bottom: -5rem;
}
.about-text {
  font-family: "Satoshi";
  font-size: 110px;
  font-weight: 700;
  text-align: left;
}
.about-para {
  font-family: "Satoshi";
  font-size: 22px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -0.04em;
  text-align: left;
  width: 70%;
}
.about-stack {
  display: flex;
  flex-wrap: wrap;
  float: right;
  width: 30%;
  margin-top: 3rem;
}
.stacks-para {
  padding: 0.3em 1rem;
  background: rgba(253, 242, 196, 1);
  font-family: "Satoshi";
  letter-spacing: -0.04em;
  font-size: 1rem;
  text-align: left;
  border-radius: 4px;
  margin: 0.3rem 0.5rem;
}
.para {
  font-family: "Satoshi";
  font-size: 15px;
  font-weight: 700;
  margin: 0.3em 1rem;
}
.experience {
  margin-top: 7rem;
}
.experience-text-para {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-gap: 3rem;
}
.experience-info {
  width: 70%;
}
.experience-info-date {
  font-family: "Satoshi-light";
  font-size: 14px;
  font-weight: 400;
  line-height: 11px;
}
.experience-info-title {
  font-family: "Satoshi";
  font-size: 24px;
  font-weight: 900;
  line-height: 30px;
}
.experience-info-details {
  font-family: "Satoshi-light";
  font-size: 14px;
  font-weight: 400;
}
.Project-text {
  font-family: "Satoshi";
  font-size: 136px;
  font-weight: 700;
  line-height: 184px;
  letter-spacing: -0.04em;
  text-align: left;
}
.project-name--link {
  display: flex;
  justify-content: space-between;
  font-family: "Satoshi";
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -0.4032000005245209px;
  text-align: left;
}
.project-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}
.project-description {
  font-family: "Satoshi-light";
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.00800000037997961px;
  text-align: left;
}
.footer-head {
  font-family: "Satoshi";
  font-size: 136px;
  font-weight: 700;
  line-height: 184px;
  letter-spacing: -0.04em;
  text-align: center;
  text-transform: uppercase;
}
.footer-text {
  font-family: "Satoshi";
  font-size: 22px;
  font-weight: 700;
  letter-spacing: -0.04em;
  text-align: center;
  width: 50%;
  margin: auto;
}
.footer-copy {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}
.footer-links-to {
  font-family: "Satoshi";
  font-size: 22px;
  font-weight: 500;
  padding: 1rem;
}
.footer-copywright {
  font-family: 'Satoshi-light';
  font-size: 22px;
  font-weight: 400;
}
@keyframes movesinleft{
  0%{
    opacity: 0;
    transform: translateX(-100px);
  }
  50%{
    opacity: 1;
    transform: translateX(20px);
  }
  100%{
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes movesinbottom{
  0%{
    opacity: 0;
    transform: translateY(100px);
  }
  50%{
    opacity: 1;
    transform: translateY(-20px);
  }
  100%{
    opacity: 1;
    transform: translate(0);
  }
}