@import url("./css/satoshi.css");
@font-face {
  font-family: "Satoshi";
  src: url("../font/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Bold.ttf");
}
@font-face {
  font-family: "Satoshi-light";
  src: url("../font/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Light.ttf");
}
* {
  padding: 0rem;
  margin: 0;
  scroll-behavior: smooth;
  transition: 1;
}
/* .Hero {
  height: 100vh;
} */
body {
  background: rgba(225, 205, 181, 1);
}
header {
  display: flex;
  justify-content: space-between;
}
.header-image {
  /* height: 1080.000000000004px; */
  width: 600px;
  left: 1644px;
}
.header-text {
  padding: 1rem 2rem;
  font-family: "Satoshi";
  font-size: 30px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.04em;
  text-align: left;
}
.section--text {
  font-family: "Satoshi";
  font-size: 136px;
  font-weight: 700;
  line-height: 134px;
  letter-spacing: -0.04em;
  text-align: left;
  width: 50%;
  margin-top: -13rem;
  padding: 0rem 2rem;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
}
ul {
  display: flex;
}
li {
  padding-left: 0.5rem;
  list-style: none;
  font-family: "Satoshi";
  font-size: 20px;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
}
a {
  text-decoration: none;
}
.nav-text {
  font-family: "Satoshi-light";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
}
.about,
.experience {
  padding: 2rem 2rem;
  height: 60vh;
}
.about-number {
  font-family: "Satoshi";
  font-size: 18px;
  font-weight: 700;
  /* line-height: 24px; */
  letter-spacing: -0.04em;
  text-align: left;
  margin-bottom: -5rem;
}
.about-text {
  font-family: "Satoshi";
  font-size: 110px;
  font-weight: 700;
  text-align: left;
}
.about-para {
  font-family: "Satoshi";
  font-size: 22px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -0.04em;
  text-align: left;
  width: 70%;
}
.about-stack {
  display: flex;
  flex-wrap: wrap;
  float: right;
  width: 30%;
  margin-top: 3rem;
}
.stacks-para {
  padding: 0.3em 1rem;
  background: rgba(253, 242, 196, 1);
  font-family: "Satoshi";
  letter-spacing: -0.04em;
  font-size: 1rem;
  text-align: left;
  border-radius: 4px;
  margin: 0.3rem 0.5rem;
}
.experience-text-para {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-gap: 3rem;
}
.experience-info {
  width: 70%;
}
.experience-info-date {
  font-family: "Satoshi-light";
  font-size: 14px;
  font-weight: 400;
  line-height: 11px;
}
.experience-info-title {
  font-family: "Satoshi";
  font-size: 24px;
  font-weight: 900;
  line-height: 30px;
}
.experience-info-details {
  font-family: "Satoshi-light";
  font-size: 14px;
  font-weight: 400;
}
